body
{
  font-family: 'Comfortaa', cursive;
}

header
{
  background-color: rgb(40, 75, 99);
  color: white;
}

#weatherDis
{
  background-color: rgb(255, 255, 255);
}

.fiveDay
{
  background-color: rgb(60, 110, 113);
  color:white;
}